docs/src/memo.aux
docs/src/memo.log
docs/src/memo.out
docs/src/report.aux
docs/src/report.bbl
docs/src/report.bcf
docs/src/report.blg
docs/src/report.log
docs/src/report.out
docs/src/report.toc
docs/src/report.run.xml
.DS_Store
